* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.custom_card_about {
  width: 250px;
  height: 350px;
  opacity: 0;
  border: 0;
  background-color: inherit;
}

.up {
  transform: translateY(-150px);
}

.down {
  transform: translateY(150px);
}

.container_card_about {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 30px;
}

.container_about {
  min-height: 100vh;
  background: rgb(167, 167, 167);
}

.slide-down {
  animation: slide-down-about 1s forwards;
  animation-delay: calc(0.15s * var(--i));
}

.slide-up {
  animation: slide-up-about 1s forwards;
  animation-delay: calc(0.15s * var(--i));
}

@keyframes slide-down-about {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-up-about {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.image_card {
  width: 100%;
  justify-content: center;

  display: flex;
}

.image_card img {
  border-radius: 50%;
  height: 170px;
  width: 170px;
  object-fit: cover;
  margin-top: 30px;
}
.image_card img:hover {
  transform: scale(0.9);
}

.describe {
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: inline-block;
}

.a_card {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.a_card.flipThis {
  transform: rotateY(180deg);
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border: 0;
  border-radius: 5%;
  overflow: hidden;
  text-align: center;
}

.front {
  background-color: white;
  transform: rotateY(180deg);
}

.back {
  background-color: black;
}

.flipIntro {
  animation: flipNow 0.6s forwards;
  animation-delay: calc(0.15s * var(--i) + 1.2s);
}

@keyframes flipNow {
  to {
    transform: rotateY(180deg);
  }
}
.home_button {
  position: absolute;
  top: 20;
  left: 20;
}
.button_home_about {
  padding: 10px 30px;
  font-family: "Bungee", sans-serif;
  font-weight: 100;
  font-style: normal;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.button_home_about:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.button_home_about:active {
  color: #000;
}

.button_home_about:active:after {
  background: transparent;
}

.button_home_about:hover:before {
  opacity: 1;
}

.button_home_about:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
