.custom_header {
  background-color: rgba(0, 0, 0);
  position: relative;
  top: 0;
  z-index: 10;
  width: 100%;
  backdrop-filter: blur(5px);
}

.logo_custom {
  color: #fea81f;
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.logo_custom:hover {
  color: #fea81f;
}

.text-custom {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
}
.text-custom:hover {
  background-color: #555555a8;
}
.login-custom {
  background-color: #fea81f;
  border-color: black;
}
.login-custom:hover {
  transform: scale(1.1);
  background-color: #3399ff;
  border-color: #3399ff;
}
.footer_custom {
  position: fixed;
  z-index: 10;
  bottom: 0;
  background-color: rgba(0, 0, 0);
}

.welcome-custom {
  color: #ffa500;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.table th {
  background-color: #fea81f;
}
.progress_custom {
  max-height: 25px;
  height: 25px;
}
.progress-bar-custom {
  background-color: #fea81f;
}
table th,
table td {
  /* Các thuộc tính CSS bạn muốn áp dụng */

  padding-top: 10px !important;
  padding-bottom: 15px !important;
}
.week_font {
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.action-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.action-buttons button {
  padding: 10px 20px;
  font-size: 1em;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#printButton {
  background-color: #1e3ef3;
}

#printButton:hover {
  background-color: #293fed;
}

#saveButton {
  background-color: #2196f3;
}

#saveButton:hover {
  background-color: #1976d2;
}

/* Footer */
footer {
  text-align: center;
  margin-top: 30px;
  font-size: 0.9em;
  color: #666;
}
.logo {
  width: 0%; /* Tăng kích thước hình vuông */
  height: 10%;

  display: flex;

  align-items: center;

  position: fixed;
  top: 8%;
  left: 0%;
  text-decoration: none;
}
.customer-form,
.customer-list {
  background-color: #fff;
  padding: 20px;
  margin: 20px 0;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.customer-form h2,
.customer-list h2 {
  margin-top: 0;
  color: #4c4ceb;
}

.customer-form form label,
.customer-form form input {
  display: block;
  width: 100%;
  margin-bottom: 15px;
}

.customer-form form input {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.customer-form button {
  background-color: #0742e3;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.customer-form button:hover {
  background-color: #2b3cf5;
}

.customer-list table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

.customer-list table th,
.customer-list table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.customer-list table th {
  background-color: #f4f4f4;
  color: #333;
}

.customer-list button {
  background-color: #ff5722;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
