body {
  background: linear-gradient(to right, #6d08d9, #2575fc);
  color: #fff;
}
.card {
  background-color: #fff;
  border: none;
  border-radius: 15px;
  padding: 2rem;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
.form-label {
  font-weight: 600;
  color: #333;
}
.btn-primary {
  background: #2575fc;
  border: none;
  transition: background 0.3s ease;
}
.btn-primary:hover {
  background: #1e63d6;
}
.text-muted {
  color: #666 !important;
}
.back-link {
  color: #2575fc;
  font-weight: 600;
  text-decoration: none;
}
.back-link:hover {
  text-decoration: underline;
}
.logo {
  width: 0%; /* Tăng kích thước hình vuông */
  height: 10%;

  display: flex;

  align-items: center;

  position: fixed;
  top: 8%;
  left: 0%;
  text-decoration: none;
}
