.custom_header {
    background-color: rgba(0, 0, 0);
    position: relative;
    top: 0;
    z-index: 10;
    width: 100%;
    backdrop-filter: blur(5px);
}

.logo_custom {
    color: #fea81f;
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.logo_custom:hover {
    color: #fea81f;
}

.text-custom {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 500;
}
.text-custom:hover{
    background-color: #555555a8;
}
.login-custom{
    background-color: #fea81f;
    border-color: black;
}
.login-custom:hover{
    transform: scale(1.1);
    background-color: #3399ff;
    border-color: #3399ff;
}
.footer_custom {
    position: fixed;
    z-index: 10;
    bottom: 0;
    background-color: rgba(0, 0, 0);
}

.welcome-custom {
    color: #FFA500;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.table th{
    background-color: #fea81f;
}
.progress_custom{
    max-height: 25px;
    height: 25px;
}
.progress-bar-custom{
    background-color: #fea81f;
}
table th, table td {
    /* Các thuộc tính CSS bạn muốn áp dụng */
    
    padding-top: 10px !important;
    padding-bottom: 15px !important;
    
}
.week_font{
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
}