* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #395bd4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 100%;
  max-width: 900px;
}

.login-container {
  display: flex;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  overflow: center;
}

.login-left,
.login-right {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.login-left {
  background: #fff;
}

.login-right {
  background: linear-gradient(135deg, #0436ed, #ff7676);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 600;
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  font-size: 14px;
  color: #333;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
}

.remember-me {
  display: flex;
  align-items: center;
}

.remember-me input {
  margin-right: 5px;
}

.btn {
  background: linear-gradient(135deg, #071bfc, #ff7676);
  color: white;
  padding: 10px 20px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
}

.forgot-password {
  display: block;
  margin-top: 10px;
  font-size: 14px;
  color: #0d27f1;
  text-align: right;
  text-decoration: none;
}

.toggle-button {
  background: white;
  color: #3220f0;
  padding: 10px 20px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.form-signup {
  display: none;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
}

.social-icon {
  color: #fff;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.social-icon.facebook {
  background-color: #3b5998;
}

.social-icon.twitter {
  background-color: #1da1f2;
}

.social-icon.google {
  background-color: #db4a39;
}

.social-icon:hover {
  opacity: 0.8;
}
.logo {
  width: 0%; /* Tăng kích thước hình vuông */
  height: 10%;

  display: flex;

  align-items: center;

  position: fixed;
  top: 8%;
  left: 0%;
  text-decoration: none;
}
