html,
body,
.intro {
  height: 100%;
}

table td,
table th {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

thead th {
  color: #fff;
}

.card {
  border-radius: 0.5rem;
}

.table-scroll {
  border-radius: 0.5rem;
}

.table-scroll table thead th {
  font-size: 1.25rem;
}
thead {
  top: 0;
  position: sticky;
}
.logo-square {
  width: 100px; /* Tăng kích thước hình vuông */
  height: 100px;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px; /* Tùy chọn bo tròn góc nếu muốn */
  position: fixed;
  top: 10px;
  left: 10px;
  text-decoration: none;
}

.logo-leaf {
  font-size: 5rem; /* Tăng kích thước biểu tượng chiếc lá */
  color: #fff; /* Màu sắc biểu tượng */
}
.logo-text {
  font-size: 20px;
  color: chartreuse;
  margin-left: 10px;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.nav-tabs {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.nav-tabs .nav-item {
  margin-left: 15px;
}

/* Đảm bảo header không thay đổi kích thước khi chuyển tab */
header {
  height: 80px; /* Thiết lập chiều cao cố định cho header */
  background-color: #f8f9fa;
}
.tab-content.active {
  display: block;
}
.tab-content {
  display: none;
}
