html,
.intro {
  height: 100%;
}
body {
  flex-direction: column;
  display: flex;
}
table td,
table th {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

thead th {
  color: #fff;
}

.card {
  border-radius: 0.5rem;
}

.table-scroll {
  border-radius: 0.5rem;
}

.table-scroll table thead th {
  font-size: 1.25rem;
}
thead {
  top: 0;
  position: sticky;
}
.logo {
  width: 0%; /* Tăng kích thước hình vuông */
  height: 10%;

  display: flex;

  align-items: center;

  position: fixed;
  top: 8%;
  left: 0%;
  text-decoration: none;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.nav-tabs {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.nav-tabs .nav-item {
  margin-left: 15px;
}

/* Đảm bảo header không thay đổi kích thước khi chuyển tab */
header {
  height: 80px; /* Thiết lập chiều cao cố định cho header */
  background-color: #f8f9fa;
}
.tab-content.active {
  display: block;
}
.tab-content {
  display: none;
}
.half {
  flex: 1; /* Mỗi phần chiếm 50% chiều cao */
  display: flex;
  justify-content: center; /* Căn giữa nội dung theo chiều ngang */

  overflow: hidden; /* Ngăn tràn nội dung */
  background: #f0f0f0; /* Màu nền để phân biệt rõ */
}

img {
  max-width: 100%; /* Đảm bảo ảnh không vượt quá chiều rộng */
  max-height: 100%; /* Đảm bảo ảnh không vượt quá chiều cao */
  object-fit: contain; /* Giữ tỷ lệ và thu nhỏ ảnh */
}
